body{
  background-color: rgb(20, 32, 41);
}

.app {
  display: flex;
  justify-content: center;
}

.game {
  width: 100vh;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.game img {
  width: 12.5vh;
  height: 12.5vh;
}